--
-- PostgreSQL database dump
--

\restrict iEXpzb6eTwF52s3JkP8814WWBvaScnDaK42vm4YxKeZ90q0MLgEqUhVtBo3N71S

-- Dumped from database version 16.10
-- Dumped by pg_dump version 16.10

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: contracts; Type: TABLE; Schema: public; Owner: user_aethel
--

CREATE TABLE public.contracts (
    contract_id integer NOT NULL,
    proposer_id integer NOT NULL,
    accepted_by_id integer,
    title character varying(100) NOT NULL,
    description text,
    required_skill_id integer,
    required_level integer DEFAULT 1,
    reward_amount integer NOT NULL,
    status character varying(20) DEFAULT 'OPEN'::character varying NOT NULL,
    type character varying(20) DEFAULT 'ONCE'::character varying NOT NULL,
    created_at timestamp without time zone DEFAULT now(),
    accepted_at timestamp without time zone
);


ALTER TABLE public.contracts OWNER TO user_aethel;

--
-- Name: contracts_contract_id_seq; Type: SEQUENCE; Schema: public; Owner: user_aethel
--

CREATE SEQUENCE public.contracts_contract_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.contracts_contract_id_seq OWNER TO user_aethel;

--
-- Name: contracts_contract_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user_aethel
--

ALTER SEQUENCE public.contracts_contract_id_seq OWNED BY public.contracts.contract_id;


--
-- Name: items; Type: TABLE; Schema: public; Owner: user_aethel
--

CREATE TABLE public.items (
    item_id integer NOT NULL,
    name character varying(100) NOT NULL,
    item_type character varying(50) NOT NULL,
    required_skill_id integer,
    equipment_slot character varying(50) DEFAULT NULL::character varying,
    bonus_crit_chance numeric(5,2) DEFAULT 0.00,
    owner_id integer
);


ALTER TABLE public.items OWNER TO user_aethel;

--
-- Name: items_item_id_seq; Type: SEQUENCE; Schema: public; Owner: user_aethel
--

ALTER TABLE public.items ALTER COLUMN item_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.items_item_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: resources; Type: TABLE; Schema: public; Owner: user_aethel
--

CREATE TABLE public.resources (
    resource_id integer NOT NULL,
    name character varying(50) NOT NULL,
    skill_id integer,
    base_resource_type character varying(50) NOT NULL
);


ALTER TABLE public.resources OWNER TO user_aethel;

--
-- Name: resources_resource_id_seq; Type: SEQUENCE; Schema: public; Owner: user_aethel
--

ALTER TABLE public.resources ALTER COLUMN resource_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.resources_resource_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: skills; Type: TABLE; Schema: public; Owner: user_aethel
--

CREATE TABLE public.skills (
    skill_id integer NOT NULL,
    name character varying(50) NOT NULL,
    base_class character varying(50) NOT NULL,
    description text,
    max_level integer DEFAULT 1000,
    parent_skill_id integer
);


ALTER TABLE public.skills OWNER TO user_aethel;

--
-- Name: skills_skill_id_seq; Type: SEQUENCE; Schema: public; Owner: user_aethel
--

CREATE SEQUENCE public.skills_skill_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.skills_skill_id_seq OWNER TO user_aethel;

--
-- Name: skills_skill_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user_aethel
--

ALTER SEQUENCE public.skills_skill_id_seq OWNED BY public.skills.skill_id;


--
-- Name: traits; Type: TABLE; Schema: public; Owner: user_aethel
--

CREATE TABLE public.traits (
    trait_id integer NOT NULL,
    name character varying(50) NOT NULL,
    description text,
    code_modifier character varying(50) NOT NULL
);


ALTER TABLE public.traits OWNER TO user_aethel;

--
-- Name: traits_trait_id_seq; Type: SEQUENCE; Schema: public; Owner: user_aethel
--

CREATE SEQUENCE public.traits_trait_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.traits_trait_id_seq OWNER TO user_aethel;

--
-- Name: traits_trait_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user_aethel
--

ALTER SEQUENCE public.traits_trait_id_seq OWNED BY public.traits.trait_id;


--
-- Name: transactions; Type: TABLE; Schema: public; Owner: user_aethel
--

CREATE TABLE public.transactions (
    transaction_id integer NOT NULL,
    contract_id integer NOT NULL,
    amount integer NOT NULL,
    status character varying(20) DEFAULT 'PENDING_ESCROW'::character varying NOT NULL,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.transactions OWNER TO user_aethel;

--
-- Name: transactions_transaction_id_seq; Type: SEQUENCE; Schema: public; Owner: user_aethel
--

CREATE SEQUENCE public.transactions_transaction_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.transactions_transaction_id_seq OWNER TO user_aethel;

--
-- Name: transactions_transaction_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user_aethel
--

ALTER SEQUENCE public.transactions_transaction_id_seq OWNED BY public.transactions.transaction_id;


--
-- Name: user_equipment; Type: TABLE; Schema: public; Owner: user_aethel
--

CREATE TABLE public.user_equipment (
    user_id integer NOT NULL,
    item_id integer NOT NULL,
    slot_type character varying(50) NOT NULL
);


ALTER TABLE public.user_equipment OWNER TO user_aethel;

--
-- Name: user_resources; Type: TABLE; Schema: public; Owner: user_aethel
--

CREATE TABLE public.user_resources (
    user_resource_id integer NOT NULL,
    user_id integer NOT NULL,
    resource_id integer NOT NULL,
    quantity integer DEFAULT 0 NOT NULL
);


ALTER TABLE public.user_resources OWNER TO user_aethel;

--
-- Name: user_resources_user_resource_id_seq; Type: SEQUENCE; Schema: public; Owner: user_aethel
--

ALTER TABLE public.user_resources ALTER COLUMN user_resource_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.user_resources_user_resource_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: user_skills; Type: TABLE; Schema: public; Owner: user_aethel
--

CREATE TABLE public.user_skills (
    user_skill_id integer NOT NULL,
    user_id integer NOT NULL,
    skill_id integer NOT NULL,
    current_level integer DEFAULT 1,
    current_xp bigint DEFAULT 0
);


ALTER TABLE public.user_skills OWNER TO user_aethel;

--
-- Name: user_skills_user_skill_id_seq; Type: SEQUENCE; Schema: public; Owner: user_aethel
--

CREATE SEQUENCE public.user_skills_user_skill_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_skills_user_skill_id_seq OWNER TO user_aethel;

--
-- Name: user_skills_user_skill_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user_aethel
--

ALTER SEQUENCE public.user_skills_user_skill_id_seq OWNED BY public.user_skills.user_skill_id;


--
-- Name: user_traits; Type: TABLE; Schema: public; Owner: user_aethel
--

CREATE TABLE public.user_traits (
    user_trait_id integer NOT NULL,
    user_id integer NOT NULL,
    trait_id integer NOT NULL
);


ALTER TABLE public.user_traits OWNER TO user_aethel;

--
-- Name: user_traits_user_trait_id_seq; Type: SEQUENCE; Schema: public; Owner: user_aethel
--

CREATE SEQUENCE public.user_traits_user_trait_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_traits_user_trait_id_seq OWNER TO user_aethel;

--
-- Name: user_traits_user_trait_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user_aethel
--

ALTER SEQUENCE public.user_traits_user_trait_id_seq OWNED BY public.user_traits.user_trait_id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: user_aethel
--

CREATE TABLE public.users (
    user_id integer NOT NULL,
    username character varying(50) NOT NULL,
    created_at timestamp without time zone DEFAULT now(),
    admin boolean DEFAULT false NOT NULL
);


ALTER TABLE public.users OWNER TO user_aethel;

--
-- Name: COLUMN users.admin; Type: COMMENT; Schema: public; Owner: user_aethel
--

COMMENT ON COLUMN public.users.admin IS 'Flag to indicate if user has admin privileges';


--
-- Name: users_user_id_seq; Type: SEQUENCE; Schema: public; Owner: user_aethel
--

CREATE SEQUENCE public.users_user_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_user_id_seq OWNER TO user_aethel;

--
-- Name: users_user_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user_aethel
--

ALTER SEQUENCE public.users_user_id_seq OWNED BY public.users.user_id;


--
-- Name: contracts contract_id; Type: DEFAULT; Schema: public; Owner: user_aethel
--

ALTER TABLE ONLY public.contracts ALTER COLUMN contract_id SET DEFAULT nextval('public.contracts_contract_id_seq'::regclass);


--
-- Name: skills skill_id; Type: DEFAULT; Schema: public; Owner: user_aethel
--

ALTER TABLE ONLY public.skills ALTER COLUMN skill_id SET DEFAULT nextval('public.skills_skill_id_seq'::regclass);


--
-- Name: traits trait_id; Type: DEFAULT; Schema: public; Owner: user_aethel
--

ALTER TABLE ONLY public.traits ALTER COLUMN trait_id SET DEFAULT nextval('public.traits_trait_id_seq'::regclass);


--
-- Name: transactions transaction_id; Type: DEFAULT; Schema: public; Owner: user_aethel
--

ALTER TABLE ONLY public.transactions ALTER COLUMN transaction_id SET DEFAULT nextval('public.transactions_transaction_id_seq'::regclass);


--
-- Name: user_skills user_skill_id; Type: DEFAULT; Schema: public; Owner: user_aethel
--

ALTER TABLE ONLY public.user_skills ALTER COLUMN user_skill_id SET DEFAULT nextval('public.user_skills_user_skill_id_seq'::regclass);


--
-- Name: user_traits user_trait_id; Type: DEFAULT; Schema: public; Owner: user_aethel
--

ALTER TABLE ONLY public.user_traits ALTER COLUMN user_trait_id SET DEFAULT nextval('public.user_traits_user_trait_id_seq'::regclass);


--
-- Name: users user_id; Type: DEFAULT; Schema: public; Owner: user_aethel
--

ALTER TABLE ONLY public.users ALTER COLUMN user_id SET DEFAULT nextval('public.users_user_id_seq'::regclass);


--
-- Data for Name: contracts; Type: TABLE DATA; Schema: public; Owner: user_aethel
--

COPY public.contracts (contract_id, proposer_id, accepted_by_id, title, description, required_skill_id, required_level, reward_amount, status, type, created_at, accepted_at) FROM stdin;
4	6	4	Scorta armata	\N	4	1	1523	ACCEPTED	ONCE	2025-11-01 22:41:14.872546	2025-11-01 22:54:53
5	4	7	Scorta armata	\N	1	5	150	ACCEPTED	ONCE	2025-11-01 22:55:46.896149	2025-11-07 17:30:27
\.


--
-- Data for Name: items; Type: TABLE DATA; Schema: public; Owner: user_aethel
--

COPY public.items (item_id, name, item_type, required_skill_id, equipment_slot, bonus_crit_chance, owner_id) FROM stdin;
1	Piccone di Rame Grezzo	TOOL	3	TOOL_MAIN	0.05	4
2	Ascia Affilata	TOOL	6	TOOL_MAIN	0.10	4
\.


--
-- Data for Name: resources; Type: TABLE DATA; Schema: public; Owner: user_aethel
--

COPY public.resources (resource_id, name, skill_id, base_resource_type) FROM stdin;
1	Legno Grezzo	6	WOOD
2	Pietra Grezza	3	ORE
3	Erba Medica	3	HERB
\.


--
-- Data for Name: skills; Type: TABLE DATA; Schema: public; Owner: user_aethel
--

COPY public.skills (skill_id, name, base_class, description, max_level, parent_skill_id) FROM stdin;
1	Pionierismo	Pioniere	Abilit├á basilare di sopravvivenza e raccolta di cibo.	1000	\N
2	Mischia	Lottatore	Competenza nel combattimento corpo a corpo e scorta.	1000	\N
3	Raccolta Risorse	Raccoglitore	Abilit├á di estrazione di materie prime grezze.	1000	\N
4	Fabbricazione Base	Fabbricatore	Costruzione di oggetti semplici e rifugi.	1000	\N
5	Commercio	Viandante	Compravendita e gestione di inventario.	1000	\N
6	Taglialegna	Raccoglitore	\N	1000	3
7	Falegnameria	Fabbricatore	\N	1000	4
\.


--
-- Data for Name: traits; Type: TABLE DATA; Schema: public; Owner: user_aethel
--

COPY public.traits (trait_id, name, description, code_modifier) FROM stdin;
1	Paziente	Gode di meno fallimenti nelle azioni lunghe.	BONUS_TIME_FAIL_REDUCTION
2	Audace	Ottiene pi├╣ possibilit├á di tiri critici in zone pericolose.	BONUS_CRIT_RISK_AREA
3	Pragmatico	Consuma meno materiali durante il crafting.	BONUS_RESOURCE_EFFICIENCY
4	Saggio	Guadagna XP bonus dalla prima scoperta di ricette/risorse.	BONUS_DISCOVERY_XP
\.


--
-- Data for Name: transactions; Type: TABLE DATA; Schema: public; Owner: user_aethel
--

COPY public.transactions (transaction_id, contract_id, amount, status, created_at) FROM stdin;
4	4	1523	PENDING_ESCROW	2025-11-01 22:41:14.872546
5	5	121	PENDING_ESCROW	2025-11-01 22:55:46.896149
\.


--
-- Data for Name: user_equipment; Type: TABLE DATA; Schema: public; Owner: user_aethel
--

COPY public.user_equipment (user_id, item_id, slot_type) FROM stdin;
4	1	TOOL_MAIN
\.


--
-- Data for Name: user_resources; Type: TABLE DATA; Schema: public; Owner: user_aethel
--

COPY public.user_resources (user_resource_id, user_id, resource_id, quantity) FROM stdin;
\.


--
-- Data for Name: user_skills; Type: TABLE DATA; Schema: public; Owner: user_aethel
--

COPY public.user_skills (user_skill_id, user_id, skill_id, current_level, current_xp) FROM stdin;
15	4	5	1	0
21	6	1	1	0
22	6	2	2	1500
23	6	3	2	1500
24	6	4	1	0
25	6	5	2	1500
12	4	2	2	100
27	7	2	1	0
28	7	3	2	1500
29	7	4	2	1500
30	7	5	2	1500
26	7	1	5	630
14	4	4	9	1980
11	4	1	8	1650
13	4	3	8	1550
\.


--
-- Data for Name: user_traits; Type: TABLE DATA; Schema: public; Owner: user_aethel
--

COPY public.user_traits (user_trait_id, user_id, trait_id) FROM stdin;
3	4	4
5	6	3
6	7	3
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: user_aethel
--

COPY public.users (user_id, username, created_at, admin) FROM stdin;
4	Dan	2025-10-31 15:19:01.820467	t
6	Xias	2025-11-01 22:40:50.377648	t
7	Jen	2025-11-07 17:29:29.242767	f
\.


--
-- Name: contracts_contract_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user_aethel
--

SELECT pg_catalog.setval('public.contracts_contract_id_seq', 5, true);


--
-- Name: items_item_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user_aethel
--

SELECT pg_catalog.setval('public.items_item_id_seq', 4, true);


--
-- Name: resources_resource_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user_aethel
--

SELECT pg_catalog.setval('public.resources_resource_id_seq', 6, true);


--
-- Name: skills_skill_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user_aethel
--

SELECT pg_catalog.setval('public.skills_skill_id_seq', 7, true);


--
-- Name: traits_trait_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user_aethel
--

SELECT pg_catalog.setval('public.traits_trait_id_seq', 4, true);


--
-- Name: transactions_transaction_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user_aethel
--

SELECT pg_catalog.setval('public.transactions_transaction_id_seq', 5, true);


--
-- Name: user_resources_user_resource_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user_aethel
--

SELECT pg_catalog.setval('public.user_resources_user_resource_id_seq', 1, false);


--
-- Name: user_skills_user_skill_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user_aethel
--

SELECT pg_catalog.setval('public.user_skills_user_skill_id_seq', 30, true);


--
-- Name: user_traits_user_trait_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user_aethel
--

SELECT pg_catalog.setval('public.user_traits_user_trait_id_seq', 6, true);


--
-- Name: users_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user_aethel
--

SELECT pg_catalog.setval('public.users_user_id_seq', 7, true);


--
-- Name: contracts contracts_pkey; Type: CONSTRAINT; Schema: public; Owner: user_aethel
--

ALTER TABLE ONLY public.contracts
    ADD CONSTRAINT contracts_pkey PRIMARY KEY (contract_id);


--
-- Name: items items_pkey; Type: CONSTRAINT; Schema: public; Owner: user_aethel
--

ALTER TABLE ONLY public.items
    ADD CONSTRAINT items_pkey PRIMARY KEY (item_id);


--
-- Name: resources resources_name_key; Type: CONSTRAINT; Schema: public; Owner: user_aethel
--

ALTER TABLE ONLY public.resources
    ADD CONSTRAINT resources_name_key UNIQUE (name);


--
-- Name: resources resources_pkey; Type: CONSTRAINT; Schema: public; Owner: user_aethel
--

ALTER TABLE ONLY public.resources
    ADD CONSTRAINT resources_pkey PRIMARY KEY (resource_id);


--
-- Name: skills skills_name_key; Type: CONSTRAINT; Schema: public; Owner: user_aethel
--

ALTER TABLE ONLY public.skills
    ADD CONSTRAINT skills_name_key UNIQUE (name);


--
-- Name: skills skills_pkey; Type: CONSTRAINT; Schema: public; Owner: user_aethel
--

ALTER TABLE ONLY public.skills
    ADD CONSTRAINT skills_pkey PRIMARY KEY (skill_id);


--
-- Name: traits traits_name_key; Type: CONSTRAINT; Schema: public; Owner: user_aethel
--

ALTER TABLE ONLY public.traits
    ADD CONSTRAINT traits_name_key UNIQUE (name);


--
-- Name: traits traits_pkey; Type: CONSTRAINT; Schema: public; Owner: user_aethel
--

ALTER TABLE ONLY public.traits
    ADD CONSTRAINT traits_pkey PRIMARY KEY (trait_id);


--
-- Name: transactions transactions_pkey; Type: CONSTRAINT; Schema: public; Owner: user_aethel
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_pkey PRIMARY KEY (transaction_id);


--
-- Name: user_equipment user_equipment_pkey; Type: CONSTRAINT; Schema: public; Owner: user_aethel
--

ALTER TABLE ONLY public.user_equipment
    ADD CONSTRAINT user_equipment_pkey PRIMARY KEY (user_id, slot_type);


--
-- Name: user_resources user_resources_pkey; Type: CONSTRAINT; Schema: public; Owner: user_aethel
--

ALTER TABLE ONLY public.user_resources
    ADD CONSTRAINT user_resources_pkey PRIMARY KEY (user_resource_id);


--
-- Name: user_resources user_resources_user_id_resource_id_key; Type: CONSTRAINT; Schema: public; Owner: user_aethel
--

ALTER TABLE ONLY public.user_resources
    ADD CONSTRAINT user_resources_user_id_resource_id_key UNIQUE (user_id, resource_id);


--
-- Name: user_skills user_skills_pkey; Type: CONSTRAINT; Schema: public; Owner: user_aethel
--

ALTER TABLE ONLY public.user_skills
    ADD CONSTRAINT user_skills_pkey PRIMARY KEY (user_skill_id);


--
-- Name: user_skills user_skills_user_id_skill_id_key; Type: CONSTRAINT; Schema: public; Owner: user_aethel
--

ALTER TABLE ONLY public.user_skills
    ADD CONSTRAINT user_skills_user_id_skill_id_key UNIQUE (user_id, skill_id);


--
-- Name: user_traits user_traits_pkey; Type: CONSTRAINT; Schema: public; Owner: user_aethel
--

ALTER TABLE ONLY public.user_traits
    ADD CONSTRAINT user_traits_pkey PRIMARY KEY (user_trait_id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: user_aethel
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (user_id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: user_aethel
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: contracts contracts_accepted_by_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_aethel
--

ALTER TABLE ONLY public.contracts
    ADD CONSTRAINT contracts_accepted_by_id_fkey FOREIGN KEY (accepted_by_id) REFERENCES public.users(user_id) ON DELETE SET NULL;


--
-- Name: contracts contracts_proposer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_aethel
--

ALTER TABLE ONLY public.contracts
    ADD CONSTRAINT contracts_proposer_id_fkey FOREIGN KEY (proposer_id) REFERENCES public.users(user_id) ON DELETE CASCADE;


--
-- Name: contracts contracts_required_skill_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_aethel
--

ALTER TABLE ONLY public.contracts
    ADD CONSTRAINT contracts_required_skill_id_fkey FOREIGN KEY (required_skill_id) REFERENCES public.skills(skill_id);


--
-- Name: items items_owner_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_aethel
--

ALTER TABLE ONLY public.items
    ADD CONSTRAINT items_owner_id_fkey FOREIGN KEY (owner_id) REFERENCES public.users(user_id);


--
-- Name: items items_required_skill_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_aethel
--

ALTER TABLE ONLY public.items
    ADD CONSTRAINT items_required_skill_id_fkey FOREIGN KEY (required_skill_id) REFERENCES public.skills(skill_id);


--
-- Name: resources resources_skill_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_aethel
--

ALTER TABLE ONLY public.resources
    ADD CONSTRAINT resources_skill_id_fkey FOREIGN KEY (skill_id) REFERENCES public.skills(skill_id);


--
-- Name: skills skills_parent_skill_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_aethel
--

ALTER TABLE ONLY public.skills
    ADD CONSTRAINT skills_parent_skill_id_fkey FOREIGN KEY (parent_skill_id) REFERENCES public.skills(skill_id);


--
-- Name: transactions transactions_contract_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_aethel
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_contract_id_fkey FOREIGN KEY (contract_id) REFERENCES public.contracts(contract_id) ON DELETE CASCADE;


--
-- Name: user_equipment user_equipment_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_aethel
--

ALTER TABLE ONLY public.user_equipment
    ADD CONSTRAINT user_equipment_item_id_fkey FOREIGN KEY (item_id) REFERENCES public.items(item_id) ON DELETE CASCADE;


--
-- Name: user_equipment user_equipment_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_aethel
--

ALTER TABLE ONLY public.user_equipment
    ADD CONSTRAINT user_equipment_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(user_id) ON DELETE CASCADE;


--
-- Name: user_resources user_resources_resource_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_aethel
--

ALTER TABLE ONLY public.user_resources
    ADD CONSTRAINT user_resources_resource_id_fkey FOREIGN KEY (resource_id) REFERENCES public.resources(resource_id) ON DELETE CASCADE;


--
-- Name: user_resources user_resources_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_aethel
--

ALTER TABLE ONLY public.user_resources
    ADD CONSTRAINT user_resources_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(user_id) ON DELETE CASCADE;


--
-- Name: user_skills user_skills_skill_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_aethel
--

ALTER TABLE ONLY public.user_skills
    ADD CONSTRAINT user_skills_skill_id_fkey FOREIGN KEY (skill_id) REFERENCES public.skills(skill_id) ON DELETE CASCADE;


--
-- Name: user_skills user_skills_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_aethel
--

ALTER TABLE ONLY public.user_skills
    ADD CONSTRAINT user_skills_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(user_id) ON DELETE CASCADE;


--
-- Name: user_traits user_traits_trait_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_aethel
--

ALTER TABLE ONLY public.user_traits
    ADD CONSTRAINT user_traits_trait_id_fkey FOREIGN KEY (trait_id) REFERENCES public.traits(trait_id) ON DELETE CASCADE;


--
-- Name: user_traits user_traits_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_aethel
--

ALTER TABLE ONLY public.user_traits
    ADD CONSTRAINT user_traits_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(user_id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict iEXpzb6eTwF52s3JkP8814WWBvaScnDaK42vm4YxKeZ90q0MLgEqUhVtBo3N71S

