version: '3.8'

services:
  db:
    image: postgres:16-alpine
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  php:
    build:
      context: .
      dockerfile: Dockerfile.php
    volumes:
      - .:/var/www/html
      - ${SSH_HOST_PATH}:/root/.ssh/id_github:ro
      - ${SSH_HOST_PATH}.pub:/root/.ssh/id_github.pub:ro
    expose:
      - "9000"

  web:
    image: nginx:stable-alpine
    ports:
      - "8088:80"
    volumes:
      - ./frontend:/var/www/html/frontend
      - ./backend:/var/www/html/api
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
      - db

volumes:
  db_data: